#container{
	margin: 100px 0 0 50px;
}
#container div{
	margin-bottom: 50px;
	height: 40px;
	line-height: 40px;
}
label{
	font: bold 20px/30px "黑体";
}
#text1{
	width: 200px;
	height: 30px;
	margin-left: 20px;
	border: 2px solid #bbb;
	border-radius: 5px;
}
#button1{
	height: 34px;
	border-radius: 5px;
	background: #2F79BA;
	color: #FFFFFF;
	font: bold 20px/30px "黑体";
	border: 1px solid #666;
	margin-left: 20px;
}
span{
	color: #bbb;
	display: block;
	position: absolute;
}