*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
a{
	color: #fff;
}
a:hover{
	color: yellow;
}
html,body{
	width: 98%;
	margin: 0 auto;
}
/*头部*/
#header{
	width: 100%;
	background: #522a5c;
}
.topnav{
	width: 980px;
	margin: 0 auto;
	position: relative;
	height: 80px;
}
.topnav h1{
	position: absolute;
	color: #fff;
	bottom: 5px;
	font-size: 20px;
	font-family: "Microsoft Yahei",sans-serif;
}
.topnav ul{
	position: absolute;
	right: 0;
	bottom: 10px;
}
.topnav li{
	float: left;
	margin-left: 28px;
	font: 14px/14px "宋体",serif;
}
/*图片内容*/
#picContent{
	position: relative;
	width: 100%;
	height: 500px;
}
#picContent img{
	width: 100%;
	height: 500px;
}
#text-wrap{
	position: absolute;
	width: 980px;
	left: 50%;
	margin-left: -490px;
	bottom: 0px;
}
#text-wrap .text{
	float: right;
	width: 300px;
	padding: 10px 10px 30px 10px;
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.5) 75%,rgba(255,255,255,0) 100%);
}
.text h2{
	text-align: right;
	right: 0;
	font-size: 14px;
	margin-bottom: 12px;
}
.text p{
	text-indent: 2em;
	font: 12px/1.5 "宋体",serif;
}
/*中间文章部分*/
#centerTop{
	width: 100%;
	height: 480px;
	background: #eee;
}
#centerTop-wrap{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.article{
	width: 320px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	background: #fff;
	margin-bottom: -5000px;
	padding-bottom: 5000px;
}
.partical {
	margin-right: 0;
}
#centerTop-wrap img{
	margin: 10px;
	margin-bottom:15px;
	width: 300px;
	height: 180px;
}
#centerTop-wrap p{
	text-indent: 2em;
	padding: 0 30px 25px;
	font: 12px/1.7 "宋体",serif;
}
/*个人图片和自我介绍*/
#centerBottom{
	width: 100%;
}
#centerBottom img{
	display:block;
	margin: 0 auto;
	margin-top: -50px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
}
#centerBottom h2{
	margin: 0 auto;
	margin-top: 50px;
	width: 120px;
	text-align: center;
	font: normal 20px/1.5 "Century Gothic";
	letter-spacing: 2px;
}
#centerBottom p{
	margin: 0 auto;
	margin-top: 30px;
	width: 600px;
	font-size: 14px;
	text-indent: 2em;
	word-spacing: 2px;
	font-family: "Microsoft Yahei";
}
/*尾部*/
#footer{
	background: #000;
	width: 100%;
	color: #fff;
	margin-top: 60px;
	overflow: hidden;
	font-size: 14px;
}
#footer #nav{
	border-bottom: 1px solid #ccc;
}
#footer #nav ul{
	margin: 0 auto;
	text-align: center;
	width: 180px;
	height: 30px;
	font: 14px/30px "宋体",serif;
}
#footer #nav li{
	float: left;
	margin-right: 20px;
}
#footer #nav #lastLi{
	margin-right: 0;
}
#footer div{
	margin-top: 30px;
	background: #000;
	overflow: hidden;
}
#footer div ul{
	float: left;
	margin-left: 160px;
}
#footer div li:first-child{
	margin-bottom: 20px;
	color: #ccc;
}
#footer #link a{
	font-family: "黑体",sans-serif;
}
#footer #copy{
	margin: 40px auto 0;
	width: 60px;
	text-align: center;
}
#footer h2{
	font: normal 14px/30px "宋体",serif; 
}
#footer #copy a{
	margin-left: 10px;
	display: block;
	width: 40px;
	height: 40px;
	background: url("../i/pic4.jpg") no-repeat;
}