*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Microsoft Yahei";
}
html,body{
	width: 100%;
	height: 100%;
	transition: all 1s;
}
.clearfix:after{
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}
button{
	cursor: pointer;
}
/*head开始*/
#head{
	height: 60px;
	line-height: 60px;
	overflow: hidden;
}
.logo{
	float: left;
	background: url(../i/icon-1.png) no-repeat left;
	margin-left: 60px;
	padding-left: 45px;
	-webkit-background-size: 33px 33px;
	background-size: 33px 33px;
}
.logo h1{
	font-size: 22px;
	font-family: "黑体",sans-serif;
	font-weight: 500;
}
.topnav{
	float: right;
	margin-right: 65px;
}
.topnav li{
	display: inline-block;
	margin-right: 50px;
	text-align: center;
}
.topnav .login{
	margin-right: 0;
	background: url(../i/icon-2.jpg) no-repeat left;
	margin-left: -15px;
	padding-left: 15px;
}
.login a{
	color: #e8504f;
}
.topnav li a{
	display: block;
	font-size: 14px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	box-sizing: border-box;
	color: #97989c;
}
.topnav li a:hover{
	border-bottom: 4px solid #e8504f;
	color: #e8504f;
}
/*head结束*/
/*banner开始*/
#banner{
	height: 700px;
	background: url(../i/pic01.jpg) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: relative;
}
#banner .content{
	position: absolute;
	left: 115px;
	top: 230px;
	color: #fff;
}
.content h1{
	font: 70px/100px "Microsoft Yahei",sans-serif;
}
.content p{
	font: 22px/1.5 "Microsoft Yahei",sans-serif;
}
.content button{
	margin-top: 65px;
	background: #e8504f;
	width: 300px;
	height: 60px;
	font-size: 25px;
	color: #fff;
	border: none;
}
.content button:hover{
	background: #fff;
	color: #e8504f;
}
/*banner结束*/
/*column开始*/
#column{
	width: 100%;
	padding-top: 45px;
	padding-bottom: 85px;
}
#column .col{
	float: left;
	box-sizing: border-box;
	width: 25%;
	text-align: center;
}
#column .text{
	margin-top: 50px;
	height: 50px;
	font-family: "黑体",sans-serif;
	font-size: 14px;
	color: #747474;
	border-right: 2px solid #747474;
}
#column .four .text{
	border-right: none;;
}
/*column结束*/
/*about开始*/
#about{
	background: #eee;
	text-align: center;
}
#about img{
	margin-top: 90px;
}
#about h1{
	font:50px/1.5 "黑体",sans-serif;
	color: #a2a2a2;
	margin-top: 30px;
	margin-bottom: 65px;
}
/*about结束*/
/*location开始*/
#location{
	height: 340px;
	overflow: hidden;
	text-align: center;
	background: url(../i/pic02.jpg) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: relative;
	font-size: 14px;
}
#location .back{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 340px;
	background: #e8504f;
	opacity: 0.2;
}
#location p,#location .bt{
	color: #fff;
}
#location .p1{
	margin-top: 50px;
	font-size: 25px;
}
#location .out{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 340px;
	z-index: 1;
	text-align: center;
}
#location hr{
	width: 30px;
	height: 2px;
	margin: 10px auto;
	border: none;
	background: #fff;
}
#location .p2{
	margin-top: 20px;
	font-size: 12px;
}
#location .select{
	display: inline-block;
	margin-top: 50px;
}
#location select{
	float: left;
	width: 240px;
	height: 35px;
	margin-right: 35px;
	outline: none;
	box-sizing: border-box;
	text-indent: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../i/icon-7.png) no-repeat 95%;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	background-color: #fff;
	color: #a2a2a2;
}
#location select:focus{
	border: 1px solid #bf4e48;
}
#location .bt{
	width: 240px;
	height: 35px;
	border: none;
	outline: none;
	background: #bf4e48;
	text-indent: 20px;
	letter-spacing: 20px;
}
#location .selected{
	display: none;
}
/*location结束*/
/*activity开始*/
#activity{
	height: 600px;
	background: url(../i/bac.jpg);
	text-align: center;
}
#activity .pic-wrap{
	display: inline-block;
	width: 220px;
	height: 390px;
	margin-top: 105px;
	margin-right: 35px;
	overflow: hidden;
}
#activity .img-wrap {
	height: 340px;
	overflow: hidden;
}
.pic-wrap img {
	width: 100%;
	height: 100%;
}
.pic-wrap img:hover{
	transform: scale(1.5);
	transition: all 1s;
}
.pic-wrap p{
	line-height: 1.7;
}
.pic-wrap p:nth-child(2){
	font-size: 14px;
	font-family: "黑体",sans-serif;
	color: #343434;
}
.pic-wrap p:nth-child(3){
	font-size: 12px;
	font-family: "黑体",sans-serif;
	color: #a2a2a2;
}
#activity div:nth-child(2) p:nth-child(1){
	letter-spacing: 15px;
	text-indent: 15px;
	font-size: 20px;
	color: #000;
}
#activity div:nth-child(2) p:nth-child(2){
	font-size: 12px;
	font-family: "黑体",sans-serif;
	color: #a2a2a2;
}
/*activity结束*/
/*time开始*/
#time{
	height: 565px;
	overflow: hidden;
	text-align: center;
}
#time .left{
	float: left;
	width: 66.666%;
	height: 565px;
	box-sizing: border-box;
	background: url(../i/pic07.jpg) no-repeat;
	color: #fff;
	-webkit-background-size: 100%;
	background-size: 100%;
	overflow: hidden;
}
#time .left h2{
	font: 50px/1.2 "黑体",sans-serif;
	margin-top: 130px;
}
#time .left h1{
	font: 80px/1 "黑体",sans-serif;
}
#time .left .beijing{
	width: 150px;
	margin: 0 auto;
	margin-top: 35px;
	text-align: left;
	font:20px/1 "黑体",sans-serif;
}
#time .left .beijing p:last-child{
	margin-top: 15px;
}
#time .right{
	float: right;
	box-sizing: border-box;
	width: 33.333%;
	height: 100%;
}
#time .right h2{
	margin-top: 165px;
	font: 500 22px/1 "黑体",sans-serif;
	color: #000;
}
#time .right span{
	color: #de514a;
}
#time .right p{
	width: 290px;
	margin: 0 auto;
	margin-top: 25px;
	font: 12px/2.5 "黑体",sans-serif;
	text-align: left;
	color: #a2a2a2;
}
.right .bt{
	display: block;
	width: 105px;
	height: 35px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	color: #e8504f;
	border: 1px solid #e8504f;
	transition: all 1s;
}
.right .bt:hover{
	background: #e8504f;
	color: #fff;
}
.right input{
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background: #e8504f;
}
/*right结束*/
/*view开始*/
#view{
	overflow: hidden;
}
#view div{
	width: 33.333%;
	float: left;
	text-align: center;
	font-family: "黑体";
	margin-bottom:-5000px;
	padding-bottom: 5000px
}
.more p:first-child{
	font-size: 20px;
	margin-top: 205px;
}
.more p:nth-child(2){
	font-size: 22px;
	margin-top: 15px;
}
.more hr{
	height: 2px;
	width: 40px;
	margin: 25px auto;
	background: #fff;
	border: none;
}
.more button{
	width: 170px;
	height: 40px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: 1px solid #fff;
	background: #e8504f;
	color: #fff;
	font-size: 20px;
}
#view .view-1{
	background: #e8504f;
	color: #fff
}
#view .view-2 hr{
	background: #a2a2a2;
}
#view .view-2 button{
	background: #fff;
	color: #e8504f;
	border: 1px solid #e8504f;
}
.view-1 button:hover{
	background: #fff;
	color: #e8504f;
	transition: all 1s;
}
#view .view-2 button:hover{
	background: #e8504f;
	color: #fff;
	transition: all 1s;
}
#view .view-3 img{
	width: 100%;
}
/*view结束*/
/*joinus开始*/
#joinus .top{
	/*overflow: hidden;*/
	text-align: center;
	position: relative;
}
#joinus .top h2{
	margin-top: 120px;
	font-size: 20px;
	font-weight: 500;
}
#joinus .top .underline{
	position: absolute;
	top: 0px;
	height: 30px;
	width: 40px;
	left: 50%;
	transform: translate(-50%);
	border-bottom: 2px solid #e8504f;
	transition: all 1s;
}
#joinus .top .underline:hover{
	width: 170px;
}
#joinus .top .p1{
	margin-top: 15px;
}
#joinus .top p{
	font-size: 12px;
	color: #a2a2a2;
}
#joinus .bottom{
	width: 1000px;
	margin: 0 auto;
	margin-top: 110px;
}
#joinus .left{
	float: left;
	width: 290px;
	position: relative;
}
#joinus .left p{
	font: 12px/1.5 "黑体";
	color: #a2a2a2;
}
#joinus .left h3{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 25px;
	font-family: "黑体";
}
#joinus span{
	float: right;
	font-size: 12px;
	color: #a2a2a2;
	position: absolute;
	right: 0;
}
#joinus .sp1{
	 top: 80px;
}
#joinus .sp1{
	 top: 80px;
}
#joinus .sp2{
	 top: 210px;
}
#joinus .sp3{
	 top: 270px;
}
#joinus .left p:nth-child(2){
	margin-bottom: 55px;
}
#joinus .left p:nth-child(5){
	margin-bottom: 35px;
}
#joinus .right{
	float: right;
	width: 640px;
}
#joinus .right input{
	width: 310px;
	height: 40px;
	border: none;
	background: #ededef;
	margin-right: 15px;
	margin-bottom: 15px;
	font: 14px/1 "黑体";
	color: #747273;
	text-indent: 1em;
}
#joinus .right input:nth-child(2),#joinus .right input:nth-child(4){
	margin-right: 0;
}
#joinus textarea:focus,#joinus input:focus{
	background: #fff;
}
#joinus textarea{
	width: 640px;
	height: 100px;
	resize: none;
	font: 14px/1 "黑体";
	color: #747273;
	text-indent: 1em;
	border: none;
	background: #ededef;
	padding: 10px 0;
}
#joinus button{
	margin-top: 15px;
	width: 640px;
	height: 40px;
	border: none;
	background: #ededef;
	text-align: center;
	font-size: 14px;
}
/*joinus结束*/
/*foot开始*/
#foot{
	margin-top: 165px;
}
#foot .contact{
	height: 360px;
	background: #33363f;
	text-align: center;
}
#foot .contact{
	color: #fff;
	overflow: hidden;
}
#foot .contact h2{
	margin-top: 90px;
	font-size: 22px;
	font-family: "黑体";
	font-weight: 500;
	margin-bottom: 10px;
}
#foot .contact p{
	font:12px/1.5 "黑体";
}
#foot .contact form{
	margin-top: 30px;
	display: inline-block;
}
#foot .contact input{
	float: left;
	width: 430px;
	height: 40px;
	border: none;
	background: #fff;
	color: #a2a2a2;
}
#foot .contact button{
	float: left;
	width: 80px;
	height: 40px;
	border: none;
	background: #717179;
	color: #fff;
}
#foot .contact img{
	display: block;
	width: 180px;
	height: 35px;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 75px;
}
#foot .copyright{
	height: 60px;
	line-height: 60px;
	background: #30303a;
}
#foot .copyright span:first-child{
	float: left;
	margin-left: 100px;
	font-size: 12px;
	color: #fff;
}
#foot .copyright span:last-child{
	float: right;
	margin-right: 40px;
}
#foot .copyright a{
	font-size: 12px;
	color: #fff;
}
/*foot结束*/
#mask{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
	background: #000;
	opacity: 0.7;
	z-index: 998;
}
.start-login{
	position: fixed;
	width: 670px;
	height: 380px;
	left: 50%;
	top: 50%;
	margin-left: -335px;
	margin-top: -190px;
	background: url(../i/loginBg.png);
	z-index: 999;
}
.close-icon{
	position: absolute;
	width: 30px;
	height: 30px;
	right: 5px;
	top: 5px;
	background: url(../i/close.png);
	cursor: pointer;
}