html,body{width: 100%;}
#wrap{
	background: #eee;
}
#head{
	width: 100%;
	height: 60px;
	background: black;
	overflow: hidden;
}
#head img{
	float: left;
	margin-left: 30px;
	line-height: 60px;
}
#head li{
	float: right;
	margin-right: 20px;
}
#head a{
	display: block;
	color: white;
	font:14px/60px "黑体",sans-serif;
}
#head .four,a:hover{
	color: gray;
}
#left{
	
}
#right{
	width: 365px;
	height: 495px;
	float: right;
	margin: 20px;
	background: white;
}
#right .celan{
	background:url(i/task_3.jpg) no-repeat;
	font: 16px/40px "黑体",sans-serif;
	padding-left: 10px;
	margin:20px 0 0 30px;
}
#right table{
	font: 12px/12px "黑体",sans-serif;
	margin-left: 30px;
}
#right td{
	height: 30px;
}
#right .tabl{
	text-align: right;
	padding-right: 10px;
}
#right #input{
	display: block;
	width: 320px;
	height: 40px;
	background: blue;
	color: white;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 10px;
}
#first,#sec,#thir,#four{
	background: white;
	padding: 20px;
	margin: 20px 405px 20px 20px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#first h1,#sec h1,#four h1{
	font: bold 20px/40px "微软雅黑","黑体",sans-serif;
}
#first h2,#sec h2,#four h2{
	font: 16px/30px "微软雅黑","黑体",sans-serif;
}
#first span,#sec span,#four span{
	font:12px/40px "黑体",sans-serif;
}
#first p,#sec p{
	font: 14px/1.5em "黑体",sans-serif;
}
#first img,#sec img{
	margin: 10px 0;
}
#sec{
	font-size: 16px;
}
#thir h1{
	font: bold 20px/40px "微软雅黑","黑体",sans-serif;
}
#thir .pic{
	width: 102px;
	height: 107px;
	border: 1px solid #bbb;
	text-align: center;
	padding: 10px;
	float: left;
	margin:15px;
}
#thir .pic img{
	width: 104px;
	height: 82px;
	margin-bottom: 22.5px;
}
#thir{
	overflow: hidden;
}
#four ol{
	list-style: decimal;
	margin-left: 30px;
	font:1.4em/1.6em "NewRomance",sans-serif;
}
#four table{
	width: 100%;
	line-height: 25px;
}
#four th{
	color: white;
	background: #000;
}
#four .total{
	color: #000;
	background: #eee;
}
#four .t{
	width: 335px;
}